TWITTER_CLIENTID=<ID>
TWITTER_SECRET=<SECRET>
GITHUB_CLIENTID=<ID>
GITHUB_SECRET=<SECRET>
LINKEDIN_CLIENTID=<ID>
LINKEDIN_SECRET=<SECRET>
GOOGLE_CLIENTID=<ID>
GOOGLE_SECRET=<SECRET>
MONGODB_URL=mongodb://mongo:27017/noobjs_dev
